@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #250A63;
  --primary-foreground: #ffffff;
  --btn-gradient: linear-gradient(180deg, #7B8BFF 0%, #4157FE 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}